table {
    width: 100%;
    border-collapse: collapse;
    }
    
    th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    
    th {
    background-color: #003366; /* Темно-синий фон для шапки таблицы */
    color: white; /* Белый цвет текста для контраста */
    }
    
    td {
    position: relative;
    }
    
    .action-buttons {
    position: relative;
    }
    
    .actions-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #003366; /* Темно-синий фон для выпадающего окна */
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    }
    
    .actions-dropdown button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    color: white; /* Белый цвет текста для контраста */
    }
    
    .actions-dropdown button:hover {
    background-color: #002244; /* Более темный оттенок синего для эффекта наведения */
    }